<div class="add-container">
  <form class="add-container" [formGroup]="startForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label class="add-start">下次冥想</mat-label>
      <input matInput (click)="picker.open()" [matDatepicker]="picker" [min]="minDate" formControlName="start" class="add-input" readonly>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false" [calendarHeaderComponent]="addHeader"></mat-datepicker>
      <mat-hint>开始时间</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>一个周期</mat-label>
      <mat-select matNativeControl formControlName="loop">
        <mat-option value="1">一周</mat-option>
        <mat-option value="2">二周</mat-option>
        <mat-option value="3">三周</mat-option>
        <mat-option value="4">一月</mat-option>
        <mat-option value="5">二月</mat-option>
      </mat-select>
      <mat-hint>循环时间</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>接触魔网</mat-label>
      <input matInput type="tel" placeholder="请输入分钟数" formControlName="used">
      <mat-hint>可用时间</mat-hint>
      <span matSuffix>分钟</span>
    </mat-form-field>

    <div class="add-button-div">
      <button type="submit" mat-raised-button color="primary" class="add-submit-button">输送能量</button>
    </div>
  </form>
</div>